kkYa_Algorithm_Visualizer/AlgorithmVisualizer/Forms/Dialogs/AlgoDetails/xml/algorithms.dtd

<!DOCTYPE algorithm [
    <!ELEMENT name (#PCDATA)>
    <!ELEMENT paradigm (#PCDATA)>
    <!ELEMENT description (#PCDATA)>
    <!ELEMENT input (#PCDATA)>
    <!ELEMENT complexity (#PCDATA)>
    <!ELEMENT sourceCode (#PCDATA)>

    <!ELEMENT algorithm (name, paradigm, description, input, complexity, sourceCode)>
    <!ATTLIST algorithm
        id ID #REQUIRED
    >
]>